<article class="grid min-h-full px-6 py-24 place-items-center sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold xl:text-xl text-primary">
      404
    </p>

    <h1 class="mt-4 text-5xl font-semibold tracking-tight text-balance text-primary sm:text-7xl">
      Page not found
    </h1>

    <p class="mt-6 text-lg font-medium text-foreground text-pretty sm:text-xl/8">
      Sorry, we couldn’t find the page you’re looking for.
    </p>

    <div class="flex items-center justify-center mt-10 gap-x-6">
      <a
        href="/"
        class="flex items-center gap-2 px-4 text-sm transition-all duration-300 rounded h-9 bg-primary text-primary-foreground hover:ring-2 hover:ring-offset-2 hover:ring-primary dark:hover:ring-offset-black"
      >
        Go back home
      </a>
    </div>
  </div>
</article>
