@let(isDatastar = request.header('datastar-request'))

@if(!isDatastar)
  @layout.app({ title })
    @slot('meta')
      <meta name="description" content="{{ metaDescription }}" />
    @endslot
    
    @slot('main')
      @include('pages/dashboard/_content')
    @endslot
  @end
@else
  @include('pages/dashboard/_content')
@end
